{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<body>
   <h1>{{ website }} home</h1>
   <h1>Bienvenue !</h1>
<img src="{{ asset('build/images/img/logo.png') }}" alt="ACME logo">
</body>
{% endblock %}